body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
/* cursor */
#mainmenu *,.block-button,.switch{cursor:pointer}
/* display */
#msgBox,#floodPanel,#spinner,#mainmenu ul ul,#search-container,#tilchi .options,#translationResults,#add-text,#add-phrase,.language,.input-table .last a{display:none}
#mainmenu li *,#mainmenu a,#tilchi .tilchi-body,.sprite,.phrase span,#translations,span{display:inline-block}
#mainmenu .submenu,#mainmenu .submenu li,#mainmenu .submenu a,#tilchi #results .item,.block-button,#add-text,.view .language{display:block}
/* position */
#mainmenu .menuHover,#tilchi-search .button{position:relative}
#msgBox,#floodPanel,#mainmenu .submenu,#translationResults{position:absolute}
#floodPanel{top:0;left:0}
#tilchi-search .button{top:-1px}
/* overflow */
#tilchi .frame .body,#translationResults{overflow:hidden}
/* z-index */
#mainmenu .menuHover,#mainmenu .submenu,#msgBox{z-index:9999}
/* width */
#floodPanel{width:100%}
.widthAuto{width:auto}
.switch{width:20px}
.ky,.ru{width:32px}
#translations{width:202px}
#msgBox{width:467px}
.phrase .info{width:500px}
.phrase .meta{width:108px}
#tilchi .textField{width:550px}
#tilchi #results{width:562px}
#translationResults{width:608px}
#tilchi .tilchi-body{width:661px}
/* max-width */
.phrase .from-phrase,.phrase .to-phrase{max-width:172px}
/* height */
#floodPanel,#spinner{height:100%}
#mainmenu span,#mainmenu li.parent a{height:16px}
.switch{height:20px}
#mainmenu{height:27px}
#spinner{height:31px}
.ky,.ru{height:32px}
#tilchi .button.big{height:36px}
/* line-height */
/* margin */
#mainmenu ul,#tilchi-search #Tilchi_phrase,#tilchi .textField,#Tilchi_toLang,.input-table input{margin:0}
.phrase .from-phrase,.phrase .to-phrase,#translations .author{margin-left:5px}
#tilchi-search .button{margin-left:8px}
#tilchi .button.big{margin-left:10px}
#tilchi h2{margin-bottom:5px}
#tilchi-search,#add-translation-form .hint,#Tilchi_toLang{margin-bottom:10px}
#tilchi .frame{margin-bottom:15px}
#tilchi .frame .title{margin:8px 0 10px 10px}
#tilchi .frame .title h3{margin:18px 0 10px 0}
/* padding */
#mainmenu ul,#mainmenu .submenu,.tdNoPadding td{padding:0}
#mainmenu ul{padding:0 0 0 20px}
.block-button{padding:3px}
.input-table input{padding:4px}
#tilchi .textField,#translationResults .item{padding:5px}
#tilchi #results .item{padding:0 6px}
#mainmenu ul li a,#mainmenu span{padding:5px 8px}
#msgBox .title{padding:5px 10px}
#tilchi .frame{padding:8px}
#tilchi-search .button input{padding:11px 16px}
#tilchi .frame .body{padding:15px 15px 20px 20px}
#msgBox,#msgBox .msg,#msgBox .buttons{padding:10px}
/* font-family */
/* font-size */
#tilchi .block-button,.hint,.phrase .meta .date,#translations .author{font-size:11px}
#mainmenu ul li a,#mainmenu span{font-size:12px}
.language,.input-table input{font-size:13px}
#tilchi .button.big{font-size:14px}
#translationResults{font-size:16px}
#tilchi .textField,#tilchi #results .item{font-size:20px}
#tilchi h2{font-size:24px}
/* font-style */
.language{font-style:italic}
/* font-weight */
#msgBox .title,#mainmenu *,.phrase .from-phrase{font-weight:bold}
#tilchi .block-button{font-weight:normal}
/* color */
#tilchi .block-button{color:#06C}
.block-button:hover{color:#09F}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu .menuHover,#mainmenu .submenu a{color:#4C99C5}
#tilchi h2{color:#555}
#translationResults .item,.phrase .from-lang,.phrase .to-lang,.phrase .meta .date,#translations .author{color:#999}
#msgBox .title,#mainmenu *,#mainmenu .submenu li:hover a,#mainmenu .submenu li.active a,#translationResults .item.active,#translationResults .item:hover,#results .item.active,#tilchi #results .item:hover{color:#FFF}
/* line-height */
#tilchi #results .item{line-height:36px}
/* vertical-align */
#tilchi .button.big,.phrase .info,.phrase .info span{vertical-align:top}
.switch{vertical-align:middle}
/* text-align */
.center{text-align:center}
#msgBox .buttons,.text-right,.language,.phrase .meta{text-align:right}
/* text-decoration */
#mainmenu a,#mainmenu span,#tilchi #results .item{text-decoration:none}
.block-button{text-decoration:underline}
/* background */
.sprite{background:url(sprite-icons.png) no-repeat}
#mainmenu .submenu li:hover a{background:transparent}
#tilchi .frame{background:#F4F4F4}
#translationResults .item.active,#translationResults .item:hover,#tilchi #results .item.active,#tilchi #results .item:hover{background:#3b9bfc}
#tilchi .frame .body,#translationResults{background:#FFF}
#spinner{background:url(spin-blue.gif) no-repeat center center}
#mainmenu,#msgBox .title{background:#4C99C5 url(bg.gif) repeat-x left top}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu span:hover,#mainmenu .menuHover,#mainmenu .submenu,#msgBox .msg{background:#ffffff}
#mainmenu .submenu li:hover,#mainmenu .submenu li.active a{background:#4C99C5}
#msgBox{background:rgba(82,82,82,0.7);/* For IE 5.5 - 7*/filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AF525252, endColorstr=#AF525252);/* For IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#AF525252, endColorstr=#AF525252)";}
#msgBox .buttons{background:#F2F2F2}
.input-table input:focus{background:#FAFFBD}
/* background-position */
.switch{background-position:0 0}
.ky{background-position:0 -21px}
.ru{background-position:0 -53px}
/* border */
.input-table input{border:none}
#mainmenu ul li a,#mainmenu ul li.active a,#mainmenu span,#mainmenu .submenu a:hover{border:1px solid transparent}
#tilchi-search #Tilchi_phrase{border:1px solid #BBB}
#translationResults{border:1px solid #CCC}
.border-blue{border:1px solid #C9E0ED}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu .menuHover,#mainmenu .submenu{border:1px solid #4C99C5}
#mainmenu ul li a.menuHover:hover,#mainmenu .menuHover{border-bottom:none}
#mainmenu .submenu,#translationResults{border-top:none}
#msgBox .msg{border-bottom:1px solid #CCCCCC}
.input-table td{border-bottom:1px dashed #C9E0ED}
.input-table .last td{border-bottom:none}
#tilchi .frame .body{border:1px solid #E9E9E9}
.block-button{border:1px dashed #E9E9E9}
/* border-radius */
#translationResults{border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px}
#translationResults{border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px}
#tilchi .frame .body{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#msgBox,#tilchi .frame{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
/* box-shadow */
#mainmenu ul li a:hover,#mainmenu ul .menuHover{box-shadow:0 3px 10px #888;-moz-box-shadow:0 3px 10px #888;-webkit-box-shadow:0 3px 10px #888}
#mainmenu .submenu{box-shadow:0 5px 10px #888;-moz-box-shadow:0 5px 10px #888;-webkit-box-shadow:0 5px 10px #888}
#mainmenu .submenu a:hover{box-shadow:none}
/* tilchi-buttons */
span.button{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;vertical-align:top;padding:0}
span.button a,span.button a:hover,span.button input{border:1px solid white;text-decoration:none;font-weight:bold;font-size:11px;padding:8px 5px;margin:0;display:inline-block;height:auto;line-height:11px;left:0;cursor:pointer}
span.button.green{border:1px solid #CDECD6;background:#CDECD6}
span.button.green a,span.button.green input{background:#CDECD6;color:#339D67}
span.button.green a:focus,span.button.green a:hover,span.button.green input:focus,span.button.green input:hover{border-color:#4DC689}
span.button.blue{border:1px solid #C9E0ED;background:#c9e0ed}
span.button.blue a,span.button.blue a:hover,span.button.blue input,span.button.blue input:hover{color:#276086;background:#C9E0ED}
span.button.blue a:focus,span.button.blue a:hover,span.button.blue input:focus,span.button.blue input:hover{border-color:#4D9AC6}
span.button.red{border:1px solid #edc9c9;background:#edc9c9}
span.button.red a,span.button.red a:hover,span.button.red input,span.button.red input:hover{color:#862727;background:#edc9c9}
span.button.red a:focus,span.button.red a:hover,span.button.red input:focus,span.button.red input:hover{border-color:#c64d4d}
span.button.grey{border:1px solid #ebebeb;background:#ebebeb}
span.button.grey a,span.button.grey a:hover,span.button.grey input,span.button.grey input:hover{color:#858383;background:#ebebeb}
span.button.grey a:focus,span.button.grey a:hover,span.button.grey input:focus,span.button.grey input:hover{border-color:#c6c2c2}