body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
/* cursor */
#mainmenu *{cursor:pointer}
/* display */
#msgBox,#floodPanel,#spinner,#mainmenu ul ul{display:none}
#mainmenu li *,#mainmenu a{display:inline-block}
#mainmenu .submenu,#mainmenu .submenu li,#mainmenu .submenu a{display:block}
/* position */
#mainmenu .menuHover{position:relative}
#msgBox,#floodPanel,#mainmenu .submenu{position:absolute}
#floodPanel{top:0;left:0}
/* z-index */
#mainmenu .menuHover,#mainmenu .submenu,#msgBox{z-index:9999}
/* width */
#floodPanel{width:100%}
#msgBox{width:467px}
/* height */
#floodPanel,#spinner{height:100%}
#mainmenu span,#mainmenu li.parent a{height:16px}
#mainmenu{height:27px}
#spinner{height:31px}
/* margin */
#mainmenu ul{margin:0}
/* padding */
#mainmenu ul,#mainmenu .submenu{padding:0}
#mainmenu ul{padding:0 0 0 20px}
#mainmenu ul li a,#mainmenu span{padding:5px 8px}
#msgBox .title{padding:5px 10px}
#msgBox,#msgBox .msg,#msgBox .buttons{padding:10px}
/* font-size */
#mainmenu ul li a,#mainmenu span{font-size:12px}
/* font-weight */
#msgBox .title,#mainmenu *{font-weight:bold}
/* color */
#msgBox .title,#mainmenu *,#mainmenu .submenu li:hover a,#mainmenu .submenu li.active a{color:#ffffff}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu .menuHover,#mainmenu .submenu a{color:#4C99C5}
/* text-align */
#msgBox .buttons,.text-right{text-align:right}
/* text-decoration */
#mainmenu a,#mainmenu span{text-decoration:none}
/* background */
#mainmenu .submenu li:hover a{background:transparent}
#spinner{background:url(spin-blue.gif) no-repeat center center}
#mainmenu,#msgBox .title{background:#4C99C5 url(bg.gif) repeat-x left top}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu span:hover,#mainmenu .menuHover,#mainmenu .submenu,#msgBox .msg{background:#ffffff}
#mainmenu .submenu li:hover,#mainmenu .submenu li.active a{background:#4C99C5}
#msgBox{background:rgba(82,82,82,0.7);/* For IE 5.5 - 7*/filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AF525252, endColorstr=#AF525252);/* For IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#AF525252, endColorstr=#AF525252)";}
#msgBox .buttons{background:#F2F2F2}
/* border */
#mainmenu ul li a,#mainmenu ul li.active a,#mainmenu span,#mainmenu .submenu a:hover{border:1px solid transparent}
#mainmenu ul li a:hover,#mainmenu ul li.active a,#mainmenu .menuHover,#mainmenu .submenu{border:1px solid #4C99C5}
#mainmenu .menuHover,#mainmenu li.parent a:hover{border-bottom:none}
#mainmenu .submenu{border-top:none}
#msgBox .msg{border-bottom:1px solid #CCCCCC}
/* border-radius */
#msgBox{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
/* box-shadow */
#mainmenu ul li a:hover,#mainmenu ul .menuHover{box-shadow:0 3px 10px #888;-moz-box-shadow:0 3px 10px #888;-webkit-box-shadow:0 3px 10px #888}
#mainmenu .submenu{box-shadow:0 5px 10px #888;-moz-box-shadow:0 5px 10px #888;-webkit-box-shadow:0 5px 10px #888}
#mainmenu .submenu a:hover{box-shadow:none}