/* position */
#info-form .gender i{position:relative}
/* width */
.gender i{width:68px}
/* height */
.gender i{height:68px}
/* border */
.gender span{border:1px solid #c6c6c6}
.gender i{border:1px solid #d9d9d9}
/* cursor */
button,.button,#login-button,.msg i{cursor:pointer}
/* display */
.button,#login label,#progress-bar .bar,#progress-bar span,#progress-bar i,#profile i,#profile .gender label,.gender .options,.gender span,.th,.td,#profile .section label{display:inline-block}
#profile .row label,#profile .row .errorBox,#profile .gender label.gender_text{display:none}
/* position */
#login .row label,#profile .row label,#profile .row i,#profile .arrow,#profile .arrow-border,#profile .row .errorBox,#profile .gender label.gender_text{position:absolute}
#profile .gender i,#profile .gender .options,#profile .gender label{position:relative}
#profile .arrow,#profile .arrow-border{top:12px}
#profile .gender label{bottom:2px}
#profile .arrow.west{left:-12px}
#profile .arrow.east{right:-12px}
#profile .arrow-border.west{left:-13px}
#profile .arrow-border.east{right:-13px}
#profile .gender .options{left:-177px}
/* float */
#login-button,#progress-bar i{float:right}
/* clear */
/* width */
#profile .arrow,#profile .arrow-border{width:0}
#login{width:322px}
#login input[type="text"]{width:250px}
#login input[type="password"]{width:200px}
#profile{width:450px}
#profile input[type="text"],#profile input[type="password"]{width:100%}
select{width:415px}
#user-register-form input[type="submit"]{width:415px}
#profile .th{width:165px}
div.width25 input{width:172px}
.button{width:auto}
.submit i{width:9px}
#login-button{width:49px}
#progress-bar .bar{width:220px}
#progress-bar .active{width:230px}
#progress-bar i,#profile .password i,#profile .password-old i{width:11px}
.msg i{width:14px}
#profile .email i{width:23px}
#profile .last-name i{width:24px}
#profile .name i{width:25px}
#profile .row label,#profile .row .errorBox{max-width:200px}
/* height */
#profile .arrow,#profile .arrow-border{height:0}
.submit i{height:6px}
.msg i{height:14px}
#login input[type="text"],#login input[type="password"]{height:16px}
#login-button{height:28px}
#progress-bar,#progress-bar .bar,#progress-bar i{height:40px}
#profile .email i,#profile .password i,#profile .name i,#profile .last-name i,#profile .password-old i{height:24px}
/* line-height */
button,.button{line-height:18px}
#login input[type="text"],#login input[type="password"]{line-height:16px}
/* margin */
#login,#profile{margin:0 auto}
#login input[type="checkbox"],#login-button,#profile .row input[type="text"],#progress-bar i,#login input[type="text"],#login input[type="password"],button,.button,#profile .section input[type="checkbox"]{margin:0}
#profile .gender span{margin-right:6px}
.mRight10{margin-right:10px}
#profile .gender #User_gender_0{margin:0 0 0 5px}
#profile .gender #User_gender_1{margin:0 0 0 20px}
#login .row label{margin:8px 0px 6px 10px}
.checkbox label{margin-left:3px}
.msg i{margin-left:3px}
#msgBox .buttons .cancel{margin-left:5px}
.mLeft10{margin-left:10px}
#profile .row label{margin-left:20px}
.check{margin:0 4px}
.checkbox{margin-top:8px}
#profile .section .checkbox{margin:2px 0 8px 0}
#profile .row,#progress-bar{margin-bottom:10px}
#profile .email i,#profile .name i,#profile .last-name i{margin:8px 0 0 7px}
#profile .password i,#profile .password-old i{margin:10px 0 0 13px}
/* padding */
.check,#login-button,#profile .gender input[type="radio"],#profile .section input[type="checkbox"]{padding:0}
#login input[type="text"],#login input[type="password"]{padding:6px 5px 6px 65px}
.gender span{padding:6px 6px 31px 6px}
#profile .gender .options{padding-bottom:6px}
.section{padding-top:10px}
#profile input[type="text"],#profile input[type="password"]{padding:9px 9px 9px 33px}
#profile .row label,#profile .row .errorBox{padding:10px}
#profile .row{padding-right:44px}
button,select,.button{padding:3px 10px}
button.inline,.button.inline{padding:0 10px}
#progress-bar .bar span{padding:13px 0}
#progress-bar .active span{padding:12px 0}
/* font-size */
button,.button,label,#login-button,#profile .row .errorMessage,#login .extra,.link-button,.section .td{font-size:11px}
#progress-bar .bar,#profile .gender label{font-size:12px}
#progress-bar .active{font-size:14px}
#profile .row input[type="text"],#profile .row input[type="password"]{font-size:18px}
/* font-weight */
button,.button,#login-button,#progress-bar .bar,#blog button.bold,#blog .button.bold,#profile .th{font-weight:bold}
/* color */
button,button:hover,.button,.button:hover,button.inline:hover,.button.inline:hover{color:#fff}
button.inline,.button.inline,.link-button{color:#555}
button.cancel,.button.cancel,#login-button:hover{color:#000}
.link-button:hover{color:#06C}
#profile .th,#profile .section .td{color:#333}
#profile .td{color:#808080}
.required{color:#C1272D}
#progress-bar .bar{color:#ccc}
#login-button,#progress-bar .active{color:#276086}
/* text-align */
#progress-bar .bar,#profile .row label,#profile .row .errorBox{text-align:center}
#login .extra{text-align:right}
/* text-decoration */
button,.button,a.button.inline,.link-button{text-decoration:none}
.link-button:hover{text-decoration:underline}
/* text-transform */
#login .row label{text-transform:uppercase}
/* text-shadow */
.inset{text-shadow:#fff 0px 1px 0}
/* vertical-align */
.checkbox label,#progress-bar .bar,#profile .th,#profile .td{vertical-align:top}
#profile .gender .options,.msg i{vertical-align:bottom}
/* background */
#profile i{background:url(sprite-icons-more.png)}
button,.button,button.inline:hover,.button.inline:hover{background:#4c99c5}
button:focus,.button:focus{background:#48dc7c}
.submit{background:#48dc7c}
.submit i{background-position:-91px -60px}
button.inline,button.cancel,.button.inline,.button.cancel{background:#CFCFCF}
#login input[type="text"]:focus,#login input[type="password"]:focus,#profile .row input[type="text"]:focus,#profile .row input[type="password"]:focus,#profile .row label{background:#FAFFBD}
#login-button{background:#C9E0ED}
#progress-bar .bar{background:#eee}
#progress-bar .active,#progress-bar .completed{background:#d8ebf8}
div.form div.error input,div.form div.error textarea,div.form div.error select,div.form input.error,div.form textarea.error,div.form select.error,#profile .row .errorBox{background:#FEE !important}
div.form div.success input,div.form div.success textarea,div.form div.success select,div.form input.success,div.form textarea.success,div.form select.success{background:#d8ebf8}
/* background-position */
#progress-bar .bar i{background-position:-11px 0px}
#progress-bar .active i{background-position:0px 0px}
#progress-bar .completed i{background-position:-22px 0px}
#profile .email i{background-position:-11px -40px}
#profile .password i{background-position:0px -40px}
#profile .password-old i{background-position:-23px -112px}
#profile .name i{background-position:-9px -64px}
#profile .last-name i{background-position:-10px -88px}
#profile .male i{background-position:-34px 0}
#profile .female i{background-position:-34px -68px}
#profile .msg i{background-position:-9px -112px}
/* outline */
#login input[type="text"],#login input[type="password"],#profile .row input[type="text"],#profile .row input[type="password"]{outline:none}
/* border */
#login input[type="text"],#login input[type="password"]{border:0}
button,.button{border:1px solid transparent}
#login input[type="password"]{border-right:1px solid #C9E0ED}
#login .row,#profile .row input[type="text"],#profile .row input[type="password"],#profile .row label{border:1px solid #C9E0ED}
#login .row.last{border-top:none}
#profile .section{border-top:1px solid #CCC}
#login-button{border:1px solid #FFF}
#profile .arrow-border{
border-color: transparent #C9E0ED transparent transparent;
border-style: solid;
border-width: 6px
}
#profile .arrow{
border-color: transparent #FAFFBD transparent transparent;
border-style: solid;
border-width: 6px
}
#profile .errorBox .arrow-border{border-color: transparent #C00 transparent transparent}
#profile .errorBox .arrow-border.east{border-color: transparent transparent transparent #C00}
#profile .errorBox .arrow.east{border-color: transparent transparent transparent #FEE}
#profile .row .errorBox{border:1px solid}
div.form div.error input,div.form div.error textarea,div.form div.error select,div.form input.error,div.form textarea.error,div.form select.error,#profile .row .errorBox{border-color:#C00}
/* border-radius */
button,.button{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px}
#login .row,#profile .row input[type="text"],#profile .row input[type="password"]{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#msgBox{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
#login .row.first{border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0}
#login .row.last{border-top-left-radius:0;-moz-border-top-left-radius:0;-webkit-border-top-left-radius:0;border-top-right-radius:0;-moz-border-top-right-radius:0;-webkit-border-top-right-radius:0}
#login-button{border-bottom-right-radius:3px;-moz-border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px}
#progress-bar .bar.first{border-top-left-radius:5px;-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px}
#progress-bar .bar.last{border-top-right-radius:5px;-moz-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px}