/* cursor */
button,.button,.link-button,#forum .vote-up,#forum .msg i,#post-actions{cursor:pointer}
/* display */
.button,button,#blog i,#at,#blog .post .meta a,#blog .post .commentsCount,#blog .post .tags,#blog .comment .meta span,#blog .comment .meta:hover .actions,#blog .filters a,#blog #comments-list .empty,#forum .options .option,#forum .options h3,#forum i,.vote-panel span,.vote-up.voted:hover .no,#forum .author,#forum .comment .comment-body,#forum .item .icon,#forum .item .info,#forum .forum-body,#forum .forum-sidebar,#forum .type .question,#forum .type .idea,#forum .type .issue{display:inline-block}
#blog #timestampdiv,#blog #statusdiv,#blog .draft,#blog .comment .meta .actions,#blog #comment-form,#search-container,.vote-up.voted:hover .yes,.vote-up .no,#forum .options{display:none}
#blog .post h2 a,#blog .post .meta,#blog #post-controls #post-edit-link,#forum-new-form label,#forum .post .meta,#forum .list .item .answer,#forum .frame.status a{display:block}
/* position */
#post-actions{position:relative}
#post-actions{top:16px;right:-40px}
/* overflow */
#forum .frame .body{overflow:hidden}
/* float */
#post-body{float:left}
#post-sidebar,#blog .comment .msg,#blog .comment .actions,#forum .list .item .status,#post-actions{float:right}
/* clear */
#post-body{clear:left}
#post-sidebar{clear:right}
/* width */
#forum .mceEditor{width:100%}
#blog .post .tags{width:780px}
#forum .forum-body{width:661px}
#post-body,#forum #question,#forum #idea,#forum #issue{width:586px}
#forum #question .textField,#forum #idea .textField,#forum #issue .textField{width:572px}
#blog #post-body input,#forum .textField{width:550px}
#forum .comment .comment-body{width:502px}
#forum .item .info{width:435px}
#post-sidebar{width:324px}
#blog #Post_tags{width:304px}
#forum .forum-sidebar{width:239px}
#forum .options .question,#forum .options .idea,#forum .options .issue{width:200px}
#forum .list .item .answer i{width:9px}
#forum .item .date i,#forum .item .count i{width:11px}
#blog .publish-date i{width:13px}
#blog .comment .msg i,#forum .msg i{width:14px}
#forum-search .button{width:71px}
#Post_mm{width:50px}
#Post_jj,#Post_hh,#Post_mn,#blog .comment .author i{width:24px}
#Post_aa,#blog h1 i{width:30px}
#blog #statusdiv select{width:120px}
#blog .post .commentsCount{width:120px}
#forum .question i,#forum .idea i,#forum .issue i,#forum .item .icon{width:32px}
#forum .type a{width:40px}
#forum .vote-up i,#post-actions .edit{width:20px}
#forum .avatar{width:80px}
#forum .author{width:86px}
#post-actions{width:40px}
/* height */
#forum .list .item .answer i{height:10px}
#forum .item .date i,#forum .item .count i{height:11px}
#blog .publish-date i{height:13px}
#blog .comment .msg i,#forum .msg i{height:14px}
#Post_jj,#Post_aa,#Post_hh,#Post_mn{height:16px}
#Post_mm,#blog #statusdiv select,#forum .vote-up i,#post-actions .edit{height:20px}
#blog h1 i{height:30px}
#blog .comment .author i{height:24px}
#forum .question i,#forum .idea i,#forum .issue i,#forum .type a{height:32px}
#forum .button.big{height:36px}
#forum .avatar{height:80px}
/* line-height */
#blog .filters a{line-height:10px}
#Post_mm,#blog #statusdiv select,button,.button{line-height:14px}
#Post_jj,#Post_aa,#Post_hh,#Post_mn{line-height:12px}
#timestampdiv{line-height:23px}
/* margin */
#blog #post-body input,#blog .comment .meta .avatar i,#blog button,#blog .button,#forum button,#forum .button,#forum-search #Forum_phrase{margin:0}
#blog .comment .meta .avatar{margin:3px 5px 3px 3px}
#blog label,#blog .postbox .row span,#blog #tags a{margin:0 5px 0 0}
#Post_mm,#Post_jj,#Post_aa,#Post_hh,#Post_mn,#blog #statusdiv select{margin:1px}
.timestamp-wrap,#blog #statusdiv{margin:5px 0}
#blog .row-last,#blog .comment .meta,#forum-search{margin-bottom:10px}
#blog .postbox,#blog .post p,#blog #post-controls,#blog .draft,#blog .post .meta,#forum .post .meta,#forum-new-form .textField{margin-bottom:20px}
#at{margin:0px 2px !important}
#forum .item .date i,#forum .item .count i{margin:0 4px}
#forum .list .item .answer i{margin-right:1px}
#blog .filters a{margin-right:7px}
#blog h1 i,#blog .comment .meta .name,.link-button,#blog .comment .meta .date,#forum .list .item .icon,#forum .forum-body{margin-right:10px}
#forum .msg i{margin-left:3px}
#blog .comment .actions a,#forum .button.big{margin-left:10px}
#blog .post .meta a,#blog .filters .count{margin:0 0 0 5px}
#blog .comment .msg,#blog .comment .actions{margin:12px 5px}
#search-container #results .summary{margin-bottom:2px}
#blog .comment .msg i,#search-container #results .item h3{margin-bottom:3px}
#blog .comment p,#forum h2,#forum-new-form label.h2,#forum .item h3{margin-bottom:5px}
#forum-new-form label.h3{margin-bottom:7px}
#blog .comment,.top-10,#forum .row.first{margin-top:10px}
#forum .options i{margin-right:8px}
.vote-panel{margin-top:12px}
.vote-panel .vote-up{margin:0 0 0 10px}
.vote-up.voted{margin-top:1px}
.vote-panel .vote-msg{margin:2px 0px 0 3px}
.vote-panel .vote-amount{margin-top:8px}
#forum .frame,#search-container .options h2{margin-bottom:15px}
#forum .frame .title{margin:8px 0 10px 10px}
#forum .frame.status .title h3{margin:8px 0 10px 0}
#forum .frame .title h3{margin:18px 0 10px 0}
#forum .list .item .answer{margin-top:2px}
#forum .author .name{margin-top:4px}
#forum .comment .comment-body{margin-left:15px}
/* padding */
#Post_mm,#blog #statusdiv select,#forum .frame.status .body{padding:0}
#forum .list .item .answer{padding:1px 0}
#forum .avatar{padding:2px}
#forum .list .item .status{padding:2px 5px}
#blog .comment .meta .avatar{padding:3px}
#blog .post h2{padding:3px 0}
#blog #edit-post #Post_title{padding:3px 4px}
.postbox h6{padding:5px 7px}
#blog #Post_content{padding:6px 4px}
#post-actions{padding:5px}
#blog .row{padding:6px 0}
#blog #post-controls,#blog .post .meta.last,#forum .textField,#forum .vote-up{padding:5px}
#blog .postbox .row,#forum .type a{padding:6px}
#blog #comment-form.doLogin{padding:8px}
#blog .row-first{padding-top:0}
#Post_jj,#Post_aa,#Post_hh,#Post_mn{padding:1px}
#blog button,#blog .button,#forum button,#forum .button{padding:3px 10px}
#blog button.extra,#blog .button.extra{padding:5px 10px}
#blog .filters a{padding-right:7px}
#blog #comments-list .empty{padding:16px 0 0 0}
#forum .post .vote-panel{padding-top:12px}
#forum .frame{padding:8px}
#forum .list .item,#search-container .options{padding:10px 0}
#forum .frame .body{padding:15px 15px 20px 20px}
#forum .frame.status div.active,#forum .frame.status a{padding:15px 0}
#forum .comment{padding:15px 0}
/* font-size */
#forum .list .item .answer{font-size:10px}
#blog .row,#blog .post .meta,#forum .post .meta,#blog #post-controls,#blog .post .meta a,#blog .comment .msg,#blog .comment .actions,#blog .filters,#forum .post .meta,#forum .post .meta a,#forum .author,#forum .comment .date,#blog button,#blog .button,#forum button,#forum .button,.link-button{font-size:11px}
#Post_mm,#Post_jj,#Post_aa,#Post_hh,#Post_mn,#blog #statusdiv select,#forum .item .meta,#forum .list .item .status{font-size:12px}
#forum .button.big,#forum .frame .links{font-size:14px}
#forum h3,#forum-new-form .h3{font-size:16px}
#forum .textField{font-size:20px}
#blog #edit-post #Post_title,#blog .post h2 a{font-size:22px}
#forum h2,#forum-new-form label.h2{font-size:24px}
/* font-style */
#blog h1{font-style:italic}
/* font-weight */
#blog button.primary,#blog .button.primary,#blog .comment .meta .name,#blog .comment .msg,#blog .comment .actions,#blog .filters .active,#forum-new-form .h3,#forum .vote-up,#forum .item h3,#forum .frame.status .body,#forum .list .item .status,#forum button,#forum .button{font-weight:bold}
#blog button,#blog .button{font-weight:normal}
#at{font-weight:normal !important}
/* color */
#blog .publish-date,#blog #post-controls:hover,#forum h3,#forum-new-form .h3,#forum .frame .links a:hover,#forum .author{color:#333}
#blog .filters .active,#blog p#comment-form{color:#000}
#blog button,#blog .button,#blog .postbox h6{color:#464646}
#blog button.primary,#blog .button.primary,#forum .list .item .answer,#forum .frame.status div.new,#forum .frame.status .active,#forum .frame.status a:hover,#forum .list .item .status,#forum button,#forum .button{color:#FFF}
#forum .frame.status a,#forum .frame.status .assigned:hover,#forum .frame.status .assigned.active,#forum .list .item .status.assigned,#forum .frame.status .duplicate,#forum .frame.status .duplicate:hover{color:#555}
#blog .post .meta,#blog #post-controls,#blog .comment .meta .date a,#forum .post .meta{color:#777}
#forum .comment .date a{color:#888}
#search-container #results .summary{color:#666}
#search-container #results .category a{color:#4C758C}
#blog .post .meta a,#blog .filters .count,.link-button,#forum h2,#forum-new-form label.h2,#forum .post .meta a{color:#555}
#blog .post .meta a:hover,#blog .disapprove,.link-button:hover{color:#06C}
#blog .comment .actions .approve{color:#006505}
#blog .comment .actions .trash{color:#BC0B0B}
#blog .comment .meta .date a:hover,#forum .comment .meta .date a:hover,#forum .options a:hover h3{color:#06C}
#forum .vote-up:hover{color:#529214}
/* vertical-align */
#blog .publish-date *,#blog h1,#blog .comment .meta *{vertical-align:middle}
#forum .options h3,.vote-panel .vote-msg,.vote-panel .vote-amount,#forum .comment .comment-body,#forum .item .icon,#forum .forum-sidebar,#forum .button.big{vertical-align:top}
#forum .msg i{vertical-align:bottom}
/* text-align */
#blog #tags,#forum .author,#forum .item .icon,#forum .frame.status .body,#forum .type .body{text-align:center}
#blog .post .commentsCount{text-align:right}
/* text-decoration */
#blog .post a,#blog .comment .meta a,#blog .filters a,#forum .frame .links a,#forum .comment .date a,#search-container #results .category a,#forum .frame.status a{text-decoration:none}
#blog #post-controls #post-edit-link,#blog .post .meta a,#blog .comment .meta .date a:hover,.link-button:hover,#forum .frame .links a:hover,#forum .comment .date a:hover,#search-container #results .category a:hover{text-decoration:underline}
/* text-transform */
#forum .frame.status .body{text-transform:uppercase}
/* background */
#blog i,#forum i,.sprite{background:url(sprite-icons.png)}
#forum .content i{background-image:none}
#blog .comment .meta .avatar,#forum .frame.status a:hover{background:#FFF}
button,.button,button.inline:hover,.button.inline:hover{background:#4c99c5}
.postbox .major-buttons{background:#EAF2FA}
#blog button,#blog .button,#blog .comment .meta,#forum .frame.status .duplicate.active,#forum .frame.status .duplicate:hover,#forum .list .item .status.duplicate{background:#F2F2F2}
#forum .frame{background:#F4F4F4}
#blog button.primary,#blog .button.primary{background:#4c99c5}
.postbox h6{background:#DFDFDF}
#blog #post-controls{background:#E4DFCB}
#blog #post-controls:hover{background:#C9E0ED}
#blog .pending .meta{background:#FFA}
#blog .reply-button.active{background:#E5EFFD}
#forum .frame .body{background:#FFF}
#forum .frame.status .new.active,#forum .frame.status .new:hover,#forum .frame.status div.new,#forum .list .item .status.new{background:#4C99C5}
#forum .frame.status .under-review.active,#forum .frame.status .under-review:hover,#forum .list .item .status.under-review{background:#F4940C}
#forum .frame.status .accepted.active,#forum .frame.status .accepted:hover,#forum .list .item .status.accepted{background:#b70698}
#forum .frame.status .assigned.active,#forum .frame.status .assigned:hover,#forum .list .item .status.assigned{background:#faf71d}
#forum .frame.status .completed.active,#forum .frame.status .completed:hover,#forum .list .item .status.completed{background:#00BC3A}
#forum .list .item .answer{background:#444}
#forum .type .body a.active{background: -o-linear-gradient(top,#EEE,#E0E0E0);background:-webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));background: -moz-linear-gradient(top,#EEE,#E0E0E0);background: -o-linear-gradient(top,#EEE,#E0E0E0);}
#forum .info b{background-color:#FF8}
/* background-position */
#blog .publish-date i{background-position:0 0}
#blog h1 i{background-position:0 -13px}
#blog .comment .meta i{background-position:0 -43px}
#blog .comment .msg i,#forum .msg i{background-position:0 -92px}
#forum .question i{background-position:0px -106px}
#forum .idea i{background-position:0px -138px}
#forum .issue i{background-position:0px -234px}
#forum .vote-up i{background-position:0px -268px}
#forum .vote-up.voted i{background-position:0px -288px}
#forum .vote-up.voted:hover i{background-position:0px -308px}
#forum .item .date i{background-position:-13px 0px}
#forum .item .count i{background-position:-20px -268px}
#forum .list .item .answer i{background-position:-15px -92px}
#post-actions .edit{background-position:0px -328px}
/* outline */
#blog #post-body input{outline:none}
/* border */
.postbox,#blog #post-body input,#blog #post-body .mceLayout{border:1px solid #DFDFDF}
.postbox .major-buttons,.vote-panel{border-top:1px solid #DFDFDF}
#search-container .options{border-top:1px dashed #EEE}
#Post_mm,#Post_jj,#Post_aa,#Post_hh,#Post_mn,#blog #statusdiv select,#blog .comment .meta,#forum .avatar{border:1px solid #DDD}
#blog button,#blog .button,#forum .vote-up,#forum-search #Forum_phrase{border:1px solid #BBB}
#blog button:hover,#blog .button:hover{border:1px solid #666}
#forum .button{border:1px solid #4c99c5}
#forum .type .body a.active{border:1px solid #BBB}
#forum .type .body a{border:1px solid #D9D9D9}
#blog button.primary,#blog .button.primary{border-color:#4c99c5}
#blog button.primary:hover,#blog .button.primary:hover,#forum .button:hover{border-color:#1e6791}
#blog .row,#blog .post .meta.last,#forum .comment,#forum .item{border-bottom:1px solid #EEE}
#blog .reply-button.active,#blog #comment-form.doLogin{border:1px solid #ABC6DD}
#blog #post-body .row,#blog .row-last,#blog .major-buttons,#blog .minor-buttons,#blog .reply-button.active{border-bottom:none}
#blog .comment .meta .avatar{border:1px solid #EEE}
#blog .filters a{border-right:1px solid #666}
#blog .filters a.last{border-right:none}
#blog .draft{border-bottom:5px solid #DFDFDF}
#forum .vote-up:hover{border-color:#C6D880}
#forum .vote-up.voted{border:none}
#Post_content_parent.o2k7Skin table.mceLayout tr.mceFirst td{border-top:none}
#forum .frame .body{border:1px solid #E9E9E9}
/* border-radius */
button,.button{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px}
#forum .frame{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
.postbox,#blog #post-body input,#blog #post-body .mceLayout,#forum .frame .body{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#post-actions{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
#Post_mm,#Post_jj,#Post_aa,#Post_hh,#Post_mn,#blog #statusdiv select,#forum .list .item .status{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
#blog .comment .meta,#blog .comment .meta .avatar,#forum .vote-up,#forum .list .item .answer{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#forum .type .body a.question{border-top-left-radius:2px;-moz-border-top-left-radius:2px;-webkit-border-top-left-radius:2px;border-bottom-left-radius:2px;-moz-border-bottom-left-radius:2px;-webkit-border-bottom-left-radius:2px}
#forum .type .body a.issue{border-top-right-radius:2px;-moz-border-top-right-radius:2px;-webkit-border-top-right-radius:2px;border-bottom-right-radius:2px;-moz-border-bottom-right-radius:2px;-webkit-border-bottom-right-radius:2px}
.reply-button.active,#forum .button.big,#forum .frame.status .body{border-radius:0}
/* box-shadow */
#forum .type .body a.active{box-shadow:inset 0 1px 5px #CCC;-moz-box-shadow:inset 0 1px 5px #CCC;-webkit-box-shadow:inset 0 1px 5px #CCC}
#post-actions{box-shadow:0px 2px 8px #b5b5b5;-moz-box-shadow:0px 2px 8px #b5b5b5;-webkit-box-shadow:0px 2px 8px #b5b5b5}
/* tag-editor */
#tag-editor{cursor:text;min-height:28px}
#tag-editor input{position:relative;outline:none;border:none;width:318px;max-width:317px;min-width:70px;line-height:18px;margin:2px 0;padding:1px 0 1px 4px;font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans',sans-serif;font-size:13px}
#tag-results{display:none;width:322px}
#tag-results div{padding:3px 6px;background:#EEE}
#tag-results .active,#tag-results div:hover{background:#F90}
.tag{border-bottom:1px solid #37607D;margin:0 0 4px 0;line-height:18px;display:inline-block;width:auto;padding:0 4px;font-family:sans-serif;font-size:12px;font-weight:normal;color:#3E6D8E;background:#E0EAF1}
.tag:hover,.tag.selected{color:#FFF;text-decoration:none;background:#3E6D8E}
#tag-editor .tag{margin:5px 0 0 5px}
.delete-tag{background-position:-20px -292px;cursor:pointer;position:relative;top:2px;width:12px;height:12px;margin-left:3px}
.tag:hover .delete-tag{background-position:-20px -280px}